*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*
        Doing this, main font-size, in PX is bad practice.
        This will end up over-writing it for people who manually change it (disabled people).
        Use percentage, we want 10px. natural is 16px. so font-size would be 62.5% (10/16 * 100)
    */
    font-size: 75%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7; // 1.7 times the pre-defined line height.
    box-sizing: border-box; // include everything within the true height and width.
}

.main-container {
    position: absolute;
    display: flex;
    margin-top: 5vh;
    width: 100vw;
    height: 100vh;
    &__half-container {
        width: 50%;
        height: 100%;
        flex-wrap: wrap;
    }
}

.particle-container {
    background: lightcoral;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    opacity: 0.85;
}

.title-container {
    text-transform: uppercase;
    backface-visibility: hidden;
    position: fixed;
    top: 30%;
    width: inherit;
    overflow: hidden;
    text-align: center;
    &--main {
        display: block;
        font-size: 7rem;
        letter-spacing: 1.75rem;
        /* Animation */
        animation: moveInLeft 1s ease-out;
    }
    &--sub {
        display: block;
        font-size: 7rem;
        letter-spacing: 1.75rem;
        /* Animation */
        animation: moveInRight 1s ease-out;
    }
}

.link-no-style {
    text-decoration: none;
    color: darkslategray;
    transition-duration: 0.4s;
}

.align-center {
    text-align: center;
}

.right-half-information {
    font-size: 1.5em;
}

.right-half-information p {
    font-size: 0.9em;
}

.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 5vh;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    background-color: #333;
    z-index: 50;
    text-align: center;
    align-items: center;

    ul {
        display: inline-flex;
        justify-content: center;
        list-style-type: none;
    }

    &__navlink {
        display: inherit;
        color: white;
        padding: 0 1.2rem;
        text-decoration: none;
        height: 100%;
        cursor: pointer;
        transition-duration: 0.1s;
    }
}

.full-width-center-ul {
    width: 100%;
    text-align: center;
}

.full-width-center-ul li {
    padding: 0.5vw;
}

.align-start {
    text-align: start !important;
}

#linkedin {
    display: inline-block;
    color: #000 !important;
    background: #fdfdfd;
    background: linear-gradient(#fdfdfd, #eee);
    text-decoration: none;
    font-size: 20px !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: inherit;
    font-weight: bold;
    border: 1px solid #bbb;
    border-radius: 3px;
    width: 105px;
}

#linkedin:hover {
    opacity: 0.8;
}

#icon-bg {
    display: inline-block;
    background: #007bb6;
    background: linear-gradient(#81bedb, #007bb6);
    color: #fff;
    padding: 0px 5px 3px;
    border-radius: 3px;
    border: 1px solid #3f7eb7;
    font-size: 24px;
    margin: -1px;
}

#icon-label-bg {
    display: inline-block;
    padding: 3px 5px 3px 5px;
}

/* ------------------------- Laptop / Tablet ------------------------- */

@media only screen and (min-width: 768px) {
    li {
        font-size: 250%;
    }
    .navbar__navlink:hover {
        transform: scale(1.2);
        transition-duration: 0.2s;
    }
    .link-no-style:hover {
        color: #8c14fc;
        transition-duration: 0.3s;
    }
    .right-side-title {
        font-size: 3em;
    }
}

/* ------------------------- Mobile Phone ------------------------- */

@media only screen and (max-width: 767.9px) {
    li {
        font-size: 175%;
    }
    h2 {
        font-size: 115%;
    }
    .navbar__navlink:hover,
    .navbar__navlink:active {
        background-color: black;
        transition-duration: 0.5s;
    }
    .link-no-style:hover,
    .link-no-style:active {
        color: red;
        transition-duration: 1s;
    }
    .right-half-information {
        font-size: 1em;
    }
    .right-half-information p {
        font-size: 0.9em;
    }
    .main-container--mobile-container {
        width: 100%;
        z-index: 1;
    }
    .main-container__half-container--mobile-title {
        visibility: hidden;
        width: 0%;
    }
}
