body {
    font-size: 100%;
}

ul {
    list-style-type: none;
    height: 100%;
    width: 75%;
}

h1,
h2 {
    text-align: center;
}

.main-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 100%;
}

.emphasis-container {
    font-size: 5vw;
    font-size-adjust: initial;
    letter-spacing: -2px;
    line-height: 110%;
    position: fixed;
    top: 25%;
    left: 4%;
    overflow-y: hidden;
}

.link-no-style {
    text-decoration: none;
    color: darkslategray;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.fade {
    animation: fade 2.5s;
    -webkit-animation: fade 2.5s;
    -moz-animation: fade 2.5s;
    -o-animation: fade 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.navbar-fade {
    animation: fade-navbar 1s;
    -webkit-animation: fade-navbar 1s;
    -moz-animation: fade-navbar 1s;
    -o-animation: fade-navbar 1s;
}

@-webkit-keyframes fade-navbar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-navbar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-navbar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fade-navbar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.align-center {
    text-align: center;
}

.half-container {
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
}

.right-half-information {
    font-size: 1.5em;
}

.right-half-information p {
    font-size: 0.9em;
}

.inline-flex {
    display: inline-flex;
}

.navlink {
    display: inline-flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.flex-justify-center {
    justify-content: center;
}

.margin-padding-zero {
    margin: 0;
    padding: 0;
}

.fixed {
    top: 0;
    bottom: inherit;
    left: 0;
    position: fixed;
    overflow: hidden;
}

.navbar-spread {
    width: 100%;
    background-color: #333;
    height: 5%;
    z-index: 5;
}

.full-width-center-ul {
    width: 100%;
    text-align: center;
}

.full-width-center-ul li {
    padding: 0.5vw;
}

.align-start {
    text-align: start !important;
}

#linkedin {
    display: inline-block;
    color: #000 !important;
    background: #fdfdfd;
    background: -webkit-linear-gradient(#fdfdfd, #eee);
    background: -moz-linear-gradient(#fdfdfd, #eee);
    background: -o-linear-gradient(#fdfdfd, #eee);
    background: linear-gradient(#fdfdfd, #eee);
    text-decoration: none;
    font-size: 20px !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: inherit;
    font-weight: bold;
    border: 1px solid #bbb;
    border-radius: 3px;
    width: 105px;
}

#linkedin:hover {
    opacity: 0.8;
}

#icon-bg {
    display: inline-block;
    background: #007bb6;
    background: -webkit-linear-gradient(#81bedb, #007bb6);
    background: -moz-linear-gradient(#81bedb, #007bb6);
    background: -o-linear-gradient(#81bedb, #007bb6);
    background: linear-gradient(#81bedb, #007bb6);
    color: #fff;
    padding: 0px 5px 3px;
    border-radius: 3px;
    border: 1px solid #3f7eb7;
    font-size: 24px;
    margin: -1px;
}

#icon-label-bg {
    display: inline-block;
    padding: 3px 5px 3px 5px;
}

/* ------------------------- Laptop / Tablet ------------------------- */

@media only screen and (min-width: 768px) {
    li {
        font-size: 250%;
    }

    .navlink:hover {
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        margin: 0 5px;
    }
    .navlink:hover span {
        padding-right: 25px;
    }
    .navlink:hover span:after {
        opacity: 1;
        right: 0;
    }
    .navlink span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .navlink span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .link-no-style:hover {
        color: red;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
    }
    .right-side-title {
        font-size: 3em;
    }
}

/* ------------------------- Mobile Phone ------------------------- */

@media only screen and (max-width: 767.9px) {
    li {
        font-size: 175%;
    }

    h2 {
        font-size: 115%;
    }

    .navlink:hover, .navlink:active {
        background-color: black;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
    }
    .link-no-style:hover, .link-no-style:active {
        color: red;
        transition-duration: 1s;
        -webkit-transition-duration: 1s;
        -o-transition-duration: 1s;
        -moz-transition-duration: 1s;
    }
    .right-half-information {
        font-size: 1em;
    }

    .right-half-information p {
        font-size: 0.9em;
    }

    .mobile-container {
        width: 100%;
        z-index: 1;
    }

    .mobile-title {
        visibility: hidden;
        width: 0%;
    }
}
