/*
0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply (Desktop First Approach)
1800px+ : Big Desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px, best to use em for media queries
*/
.fade {
  animation: fade 2s; }

@keyframes fade {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }

.navbar--navbar-fade {
  animation: fade-fast 1s; }

@keyframes fade-fast {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(7.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bounce {
  0%,
  10%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg); }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg); }
  40%,
  60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg); }
  100%,
  80% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0); } }

/* ------------------------- Laptop / Tablet ------------------------- */
@media only screen and (min-width: 768px) {
  .faa-tada.animated-hover:hover {
    -webkit-animation: tada 1.5s linear 1;
    animation: tada 1.5s linear 1; }
  .faa-bounce.animated-hover:hover {
    -webkit-animation: bounce 1.2s ease infinite;
    animation: bounce 1.2s ease infinite; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*
        Doing this, main font-size, in PX is bad practice.
        This will end up over-writing it for people who manually change it (disabled people).
        Use percentage, we want 10px. natural is 16px. so font-size would be 62.5% (10/16 * 100)
    */
  font-size: 75%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.header {
  margin: 1rem 0rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }
  @media (max-width: 56.25em) {
    .header {
      font-size: 2.5rem; } }
  .header__secondary {
    background-image: linear-gradient(to right, #9641e5, #6317a9);
    font-size: 2.5rem; }
    @media (max-width: 56.25em) {
      .header__secondary {
        font-size: 1.5rem; } }

.main-container {
  position: absolute;
  display: flex;
  margin-top: 5vh;
  width: 100%;
  height: 95vh; }
  .main-container__half-container {
    width: 50%;
    height: 100vh;
    flex-wrap: wrap; }
    .main-container__half-container--right-animation {
      animation: moveInBottom .75s ease-out .75s;
      /* This will make the 0% animation apply right when it starts. */
      animation-fill-mode: backwards; }

.half-container__contact-ul {
  text-align: center;
  list-style: none;
  font-size: 300%; }

.half-container--no-style {
  text-decoration: none;
  color: darkslategray;
  transition-duration: 0.3s; }
  .half-container--no-style:hover {
    color: #008cd0;
    transition-duration: .3s; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .half-container--no-style:hover {
        background-image: linear-gradient(to right, #2998ff, #cc3700);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; } }

.title-container {
  text-transform: uppercase;
  backface-visibility: hidden;
  position: fixed;
  top: 30%;
  width: inherit;
  overflow: hidden;
  text-align: center; }
  .title-container--main {
    display: block;
    font-size: 700%;
    letter-spacing: 1.75rem;
    /* Animation */
    animation: moveInLeft 1s ease-out;
    max-width: inherit; }
  .title-container--sub {
    display: block;
    font-size: 700%;
    letter-spacing: 1.75rem;
    /* Animation */
    animation: moveInRight 1s ease-out; }

@media only screen and (min-width: 1245px) {
  .half-container--right-side-title {
    font-size: 3rem;
    text-align: center; }
  .half-container__about {
    padding-right: 2vw;
    text-align: center;
    font-size: 1.8rem; }
    .half-container__about h3 {
      font-size: 1.5rem; }
    .half-container__about p {
      font-size: 1.25rem; } }

@media (max-width: 75em) {
  .title-container--main {
    font-size: 400%; }
  .title-container--sub {
    font-size: 400%; }
  .half-container--right-side-title {
    font-size: 2.5rem;
    text-align: center; }
  .half-container__about {
    padding-right: 2vw;
    text-align: center;
    font-size: 1.3rem; }
    .half-container__about h3 {
      font-size: 1.2srem; }
    .half-container__about p {
      font-size: 1.1rem; } }

@media only screen and (max-width: 767.9px) {
  h2 {
    font-size: 115%; }
  .half-container__contact-ul li {
    font-size: 175%; }
  .half-container--no-style:active {
    color: #008cd0;
    transition-duration: .3s; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .half-container--no-style:active {
        background-image: linear-gradient(to right, #2998ff, #5643fa);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; } }
  .half-container__about {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5rem; }
    .half-container__about p {
      font-size: 1rem; }
  .main-container--mobile-container {
    width: 100vw;
    z-index: 1;
    text-align: center; }
  .main-container__half-container--mobile-title {
    visibility: hidden;
    width: 0%; } }

@media (min-width: 112.5em) {
  .half-container__about {
    padding-right: 2vw;
    text-align: center;
    font-size: 1.7rem; }
    .half-container__about h3 {
      font-size: 1.7rem; }
    .half-container__about p {
      font-size: 1.5rem; } }

.text-align-center {
  text-align: center !important; }

.particle-container {
  background: #F08080;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.85; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #ff6a33, #cc3700); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, #ff6a33, #cc3700); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(255, 106, 51, 0.85), rgba(204, 55, 0, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: .3rem;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: absolute;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        color: #fff;
        margin-bottom: 8rem; }
      .card__price-only {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .card__price-value {
        font-size: 4rem;
        font-weight: 100; } }

#modal-root {
  position: relative;
  z-index: 999; }

.modal {
  background-color: rgba(237, 105, 105, 0.95);
  position: fixed;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  animation: fade-fast .5s; }
  .modal--content {
    font-size: 1.5rem;
    text-align: center; }
  .modal--background {
    background-color: rgba(47, 79, 79, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 900; }
  .modal--close {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    transition-duration: 0.2s;
    font-weight: bold; }
    .modal--close:hover {
      color: #007bb6;
      cursor: pointer;
      transform: scale(1.5);
      transition-duration: 0.2s; }

@media only screen and (max-width: 767.9px) {
  .modal--content {
    font-size: 1.25rem; } }

.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 5vh;
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  background-color: #333;
  z-index: 50;
  text-align: center;
  align-items: center;
  font-size: 250%; }
  @media (min-width: 112.5em) {
    .navbar {
      font-size: 350%; } }
  .navbar ul {
    display: inline-flex;
    justify-content: center;
    list-style-type: none; }
  .navbar__navlink {
    display: inherit;
    color: white;
    padding: 0 1.2rem;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    transition-duration: 0.2s; }
    .navbar__navlink:hover {
      transform: scale(1.25);
      transition-duration: 0.2s; }

@media only screen and (max-width: 767.9px) {
  .navbar {
    font-size: 175%; }
    .navbar__navlink:focus, .navbar__navlink:active {
      background-color: black;
      transition-duration: 0.3s; }
      @supports (background-clip: text) or (-webkit-background-clip: text) {
        .navbar__navlink:focus, .navbar__navlink:active {
          background-color: none;
          background-image: linear-gradient(to right, #7ed56f, #28b485);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent; } } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - (2 * 6rem)) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - (3 * 6rem)) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - (3 * 6rem)) / 4) * 3 + (2 * 6rem)); }
